body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 800px;
    /*border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    */ /* تأثير الظل */
    transform: translate(-7%, -50%); /* تحويل الصندوق إلى منتصف الشاشة */
}

.skill {
    color: #fff;
    text-align: center;
    border: 2px solid #6a0572;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-right: 49px;
    padding-left: 49px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.text{
    text-align: center;
    font-weight: 500px;
    font-size: 50px;
    position: absolute;
    top: 10%;
    color: white;
} 